* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #0a0a2a;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: rgba(0, 0, 50, 0.8);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    transition: background 0.3s ease-in-out;
    z-index: 1000;
}

.navbar:hover {
    background: rgba(0, 0, 80, 1);
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 10px; 
    object-fit: cover; 
}


.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease-in-out, transform 0.2s;
    padding: 5px 10px;
    display: inline-block;
}

.nav-links a:hover {
    color: #f1c40f;
    transform: scale(1.1);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 1.5em;
    margin-bottom: 20px;
}
